#two-column-small
{
    display: table;
    width: inherit;
    height: 52px;
    border: 1px solid #633D11;
}

#static_photo img
{
    border: 1px solid #633D11;
}

#rez_noscript
{
   margin-top: 10px;
   margin-left: 165px;
}

#cv_noscript
{
    margin-top: 10px;
    margin-left: 185px;
}

#enable_javascript
{
    font-size: 14pt;
    font-weight: bold;
}
