
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #F3EEE2;
    color: #633D11;
}

a
{
   text-decoration: none;
   color: #633D11;
}

a:hover
{
   color: #FF7F00
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Page */

#page {
	overflow: hidden;
	width: 820px;
	margin-top: 20px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px;
	background: #FFFFFF url(images/page-gradient-bg.png) repeat-x left bottom;
    box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 1);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.info_panel {
	overflow: hidden;
	width: 800px;
    height: 560px;
	margin-top: 20px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px;
	background: #FFFFFF url(images/page-gradient-bg.png) repeat-x left bottom;
    box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 1);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    font-family: 'Arial','Helvetica','Geneva', sans-serif;
    font-size: 18pt;
}

/* don't change this to an id or you'll have multiple elements with eq. ids*/
.close_svg {
    position: relative;
    top: 0;
    left: 760px;
}

/* Footer */

#footer {
	width: 900px;
	height: 140px;
	margin: 0px auto;
}

#footer p {
	margin: 0;
	padding-top: 30px;
	line-height: normal;
	text-transform: lowercase;
	text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 10pt;
	color: #633D11;
}

#about {
	overflow: hidden;
	width: 820px;
	margin: 20px auto 0px auto;
	padding: 20px 20px;
	background: #FFFFFF url(images/page-gradient-bg.png) repeat-x left bottom;
	box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 1);
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-border-radius: 6px;
}

#about .title {
	padding-bottom: 10px;
	letter-spacing: -1px;
	text-transform: lowercase;
	color: #A26500;
}

#three-column {
	padding-top: 30px;
    text-align: center;
}

#three-column img
{
    margin-top: 10px;
    margin-bottom: 10px;
}

#three-column h2
{
    margin-top: 20px;
    text-align: center;
    padding-bottom: 20px;
	text-transform: lowercase;
	font-size: 32pt;
	color: #633D11;
}

#three-column #bio {
	display: inline-block;
	width: 246px;
    margin-right: 30px;
    /*border: 2px solid  #633D11; */
}


#three-column #work {
    display: inline-block;
	width: 246px;
    margin-right: 30px;
    /* border: 2px solid #633D11; */
}

#three-column #edu {
    display: inline-block;
	width: 246px;
    margin-left: 0px;
    margin-right: 0px;
    /* border: 2px solid #633D11; */
}

#three-column-small
{
    display: table;
    width: inherit;
    height: 52px;
    border: 2px solid #633D11;
    font-family: 'Raleway', sans-serif;
    font-size: 24pt;
}

.small_icon
{
    margin-left: 42px;
    padding-top: 6px;
}

.small_icon_text
{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    height: auto;
    width: 220px;
}

#edu_align
{
    width: 195px;
}

#rez_align
{
    margin-left: 112px;
}

#cv_align
{
    margin-left: 125px;
}


